---
layout: default
---
<article id="main">

  <!-- <header>
    <h2>{{ page.title }}</h2>
  </header> -->


    <section id="one" class="wrapper style5 ">
        <div class="inner " style="padding-left: 120px; padding-right: 120px;">
            <ul >
		        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
		        <a class="post-link" href="{{ post.url | relative_url }}">
		          <h2 class="post-title">{{ page.title | escape }}</h2>
		        </a>
		        <div class="post-meta">
		          <div class="post-date">
		          	<ul class="icons">
						<li><span class="icon fa-calendar " style="color:#4d5193"><span class="label">Lorem</span></span></li>
						<li>{{ page.date | date: date_format }}</li>
					</ul>
		          </div>
		          {%- if page.categories.size > 0-%}
			          <ul class="post-categories">
			            {%- for tag in page.categories -%}
			            	<li>{{ tag }}</li>
			            {%- endfor -%}
			          </ul>
		          {%- endif -%}
		        </div>
		        <div class="post">
		          {{ page.content }}
                </div>
                
                </br>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <a href="/blog.html" class="button fit specialMain">Back to blog</a>
                    </div>
                    <div class="col-4"></div>
                    
                </div>
                
              </ul>
              
            <!-- <header class="major">
                <h2>{{ page.title }}</h2>
                <div class="blog_text">
                    {{ content }}
                </div>
            </header> -->

            <!-- <div>
                <a href="/blog.html" class="button fit specialMain">Back to blog</a>
            </div>
             -->
        </div>
    </section>

  </section>

</article>
